<div id="<%= dom_id client %>">
  <p>
    <strong>Username:</strong>
    <%= client.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= client.message %>
  </p>

</div>
