	<!-- About start-->
	<div class="row align-items-md-stretch">
		<div class="col-md-6">
			<div class="h-100 p-5 text-white bg-pink-lighten-1 rounded-3">
			<h2 class="text-purple" id="sobre">Sobre nós</h2>
			<p class="text-purple">
				Somos uma empresa angolana que atua principalmente na área de Análise
				Desenvolvimento de aplicações web, desktop e mobile. Desenvolvendo
				soluções para clientes da América Latina e da Europa. 
			</p>
			<a href="#contactos">
				<button class="btn btn-primary btn-lg" type="button">
					Entrar em contacto connosco
				</button>
			</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="h-100 p-5 bg-purple border rounded-3">
			<h2>Nosso comprimisso</h2>
			<p>
				Deixa o teu software connosco, tomaremos conta dele até a sua evolução.
				Contamos com bons desenvolvedores de software com experiencia +6 anos para
				dar suporte as tuas necessidades.
			</p>
			</div>
		</div>
	</div>
	<!-- About end-->