<!-- Contact start-->

<div class="row align-items-md-stretch my-5 justify-content-center bg-purple" id="contactos">
    <div class="col-md-6 ">
        <div class="h-100 p-5 bg-purple border rounded-3">
            <p class="fs-3 text-center">Deixe uma mensagem</p>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Seu Nome">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" 
                placeholder="Sua mensagem..."></textarea>
            </div>
            <div class="mb-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-danger" type="button">Enviar agora</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact end-->