<!-- introduction start-->
<div class="p-5 mb-4 bg-pink-lighten-1 rounded-3">
    <div class="container py-5">
      <h1 class="display-5 fw-bold text-purple">Consultoria e Desenvolvimento de Software</h1>
      <p class="col-md-8 fs-4 text-purple">
          Somos uma empresa angolana que nasceu em 2022, atuando na 
          área de desenvolvimento de software e consultoria gerando 
          valores para os nossos clientes. 
      </p>
      <a href="#contactos">
          <button class="btn btn-primary btn-lg" type="button" id="#contactos">
              Entrar em contacto connosco
          </button>
      </a>
  </div>
  </div>
  <!--Introduction end -->