<!-- Portifolio start-->
<div class="text-center my-5">
	<div class="container" id="portifolio">
	  <h3 class="text-purple" >Portifolio</h3>
	  <div class="row justify-content-center my-5">
		<div class="col-sm-5">
		  <div class="d-inline p-2 ">
			<img src="img/bumbagora.jpg" />
		  </div>
		  <div class="d-inline p-2">
			<p class="i-description"> Plataforma web de busca e procura de emprego.</p>
		  </div>
		</div>
		<div class="col-sm-5">
		  <div class="d-inline p-2 ">
			<img src="img/adicionatec.jpg" />
		  </div>
		  <div class="d-inline p-2">
			 <p class="i-description"> Site corporativo e marketing.  </p>
		  </div>
		</div>
	  </div>
	</div>
  </div>
<!-- Portifolio end-->